body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('../../images/ABOUTback.jpg');
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }

  /* about.css */

.about {
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 100px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}


.cards {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 50px;
}



