@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbar due to gradient animation */

  /* Gradient Background Animation */
  background: linear-gradient(-45deg, #47B64C, #EEFA58, #A5F4FF, #35424A);
  background-size: 400% 400%; /* Make the gradient larger to create the animation effect */
  animation: gradientAnimation 15s ease infinite; /* Adjust the duration as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

  /* about.css */



.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 90px;
  text-align: center;
  padding-top: 80px;
  font-weight: 1000;

  /* Add blurred shadow */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


.cards-container {
  display: flex;
  justify-content: space-around;
}


.cards {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 50px;
}

.cards:hover {
  animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Bounce */
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transform: translate3d(0, -6vh, 0); }
  70% {
    -webkit-transform: translate3d(0, -3vh, 0); }
  90% {
    -webkit-transform: translate3d(0, -1vh, 0); } }
@-moz-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -moz-transform: translate3d(0, 0, 0); }
  40%, 43% {
    -moz-transform: translate3d(0, -6vh, 0); }
  70% {
    -moz-transform: translate3d(0, -3vh, 0); }
  90% {
    -moz-transform: translate3d(0, -1vh, 0); } }
@-o-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -o-transform: translate3d(0, 0, 0); }
  40%, 43% {
    -o-transform: translate3d(0, -6vh, 0); }
  70% {
    -o-transform: translate3d(0, -3vh, 0); }
  90% {
    -o-transform: translate3d(0, -1vh, 0); } }

    @keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
        transform: translate3d(0, 0, 0);
      }
      40%, 43% {
        transform: translate3d(0, -6vh, 0);
      }
      70% {
        transform: translate3d(0, -3vh, 0);
      }
      90% {
        transform: translate3d(0, -1vh, 0);
      }
    }

