body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('../../images/ABOUTback.jpg');
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    
  }


  .container {
    margin: auto;
    width: 100%; 
  }
  
  .text-box {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .title{
    font-size: 70px;
  }

  .description{
    font-size: 20px;
  }
  
  .image-box {
    flex: 1;
    height: 80%; 
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
  }

