/* main.css */

.challengeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.challengeGeneratorButton {
  background-color: #07690b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 320px;
  text-align: center;
  font-size: 18px;
  border: 3px solid #000;
}

.challengeGeneratorButton:hover {
  background-color: #065c0a; /* Darker shade on hover */
  transform: scale(1.05);
}

.challengeButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.challengeButton {
  background-color: #4caf50;
  color: black;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 300px;
  text-align: center;
  font-size: 16px;
  border: 3px solid #000;
}

.challengeButton:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.challengeButton.selected {
  background-color: rgba(123, 123, 123, 0.611);
  color: black;
}

.ProgressBarContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.ProgressBarContainer {
  width: 100%;
  margin-top: 10px; 
  text-align: center; 
}
.progressbar {
  width: 80%; 
  margin: 20px auto; 
}

.progressBar {
  height: 20px; 
  border-radius: 5px; 
}

.ProgressBar-label {
  font-size: 14px; 
  color: #555;
  margin-top: 5px; 
}


