.nav {
  background-color: #333333; 
  padding: 15px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-weight: 300;
}

.site-title {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease; 
}

.site-title:hover {
  color: #ffd700; 
  text-decoration: none;
}


.profile {
  width: 65px; 
  height: auto; 
  padding-top: 5px; 
}


ul {
  list-style: none;
  display: flex;
  margin: 0 20px;
}


li {
  margin: 0 25px; 
}


a {
  text-decoration: none;
  color: #fff; 
  font-size: 1.2em; 
  transition: color 0.3s ease; 
}

a:hover {
  color: #ffff70; 
  text-decoration: none;
}
